@import "./variables.scss";
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

html {
  text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  font-family: "Noto Sans SC", "Helvetica Neue", system-ui, -apple-system, Helvetica, Arial, sans-serif;

  &:lang(ko) {
    * {
      font-family: "Noto Sans KR", "MalgumGothic", "Helvetica Neue", system-ui, -apple-system, Helvetica, Arial,
        sans-serif;
      letter-spacing: -0.3px;
    }
  }

  &:lang(ja) {
    * {
      font-family: "Noto Sans JP", "MalgumGothic", "Helvetica Neue", system-ui, -apple-system, Helvetica, Arial,
        sans-serif;
      word-break: break-all;
    }
  }

  &:lang(en) {
    * {
      word-break: keep-all;
    }
  }
}

body {
  overflow-y: scroll;
  font-size: $normal-font-size;
  word-break: keep-all;
  word-wrap: break-word;
  text-size-adjust: none;
}

body * {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

fieldset,
img {
  border: 0;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: "none";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

table {
  width: 100%;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

img {
  display: inline-block;
  border: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

legend {
  overflow: hidden;
  font-size: 0;
  width: 0;
  height: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: top;
}

input,
select,
textarea {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 100%;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
  transform-style: flat;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="email"] {
  border: 1px solid $form-border-color;
  box-sizing: border-box;
  appearance: none;
  outline: none;
}

input[type="date"] {
  text-align: center;
}

input:checked[type="checkbox"] {
  appearance: checkbox;
}

input[type="radio"],
input[type="checkbox"] {
  border: none;
}

input[disabled],
button[disabled] {
  opacity: 0.5;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
  border-radius: 0;
  appearance: button;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

::-webkit-input-placeholder {
  font-size: $normal-font-size;
  color: $form-placeholder-color;
  text-align: left;
}

textarea {
  box-sizing: border-box;
}

textarea::-webkit-input-placeholder {
  padding: 0;
}

select {
  outline: none;
}

th,
td,
input,
select,
textarea,
button {
  font-size: $normal-font-size;
}

a {
  display: inline-block;
  color: $basic-font-color;
  text-decoration: none;
  vertical-align: top;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}

a,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.2s linear, color 0.2s linear, opacity 0.2s linear;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
  font-weight: normal;
}

/* slide reset */
.bx-wrapper {
  * {
    font-family: "Noto Sans KR", "MalgumGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .bx-viewport {
    left: 0;
    border: 0;
    box-shadow: none;
    background: transparent;
  }
}

.animated.btn_box {
  animation-duration: 0.5s;
}

/* megastudy 예외처리 */
body.megastudy {
  #header,
  #footer,
  #site_map {
    display: none;
  }
}

.video-popup.reveal {
  @include layoutPosition(fixed, 0, 0, 0, 0);
  z-index: 102;
  display: flex;
  justify-content: center;
  align-items: center;

  .video-popup-closer {
    @include layoutPosition(fixed, 0, 0, 0, 0);
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
  }
}

.video-popup {
  .video-wrapper {
    z-index: 10;
    position: relative;
    width: 80%;
    padding-bottom: 45%;
    background: #000;

    iframe {
      @include layoutPosition(absolute, null, null, null, null);
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
